@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@font-face
/*perintah untuk memanggil font eksternal*/

    {
    font-family: "Jura";
    /*memberikan nama bebas untuk font*/
    src: url("/font/Jura-VariableFont_wght.ttf");
    /*memanggil file font eksternalnya di folder nexa*/
}

@font-face
/*perintah untuk memanggil font eksternal*/

    {
    font-family: "Caveat";
    /*memberikan nama bebas untuk font*/
    src: url("/font/Caveat-VariableFont_wght.ttf");
    /*memanggil file font eksternalnya di folder nexa*/
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e4dccf;
}

.body {
    margin: 0 10rem 0;
}

/* navbar */

nav #nav-con {
    width: 100%;
    margin: auto;
    padding: 12px 0;
    text-align: center;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    position: sticky;
    top: 0;
    background-color: #ff0000;
    z-index: 1000;
}


/* */


/* Judul */

.header-container {
    margin: 12.5rem 2rem;
}

.header-judul {
    font-family: Montserrat;
    font-size: 4rem;
    color: #2c3333;
    font-weight: 600;
}

.header-sub {
    font-family: Caveat;
    font-size: 5.5rem;
    font-weight: 400;
    padding-left: 10rem;
    margin-top: -1.5rem;
    color: #7d9d9c;
}


/*  */


/* kenapa */

.why {
    text-align: center;
    margin: 5rem;
    padding: auto;
}

.why #judul {
    font-family: Montserrat;
    font-size: 4rem;
    color: #2c3333;
}

.why #sub-judul {
    font-family: Caveat;
    font-size: 6rem;
    margin-top: -2.8rem;
    color: #7d9d9c;
}

.why #text {
    font-size: 1.3rem;
    color: #2c3333;
    font-family: Jura;
}


/*  */


/* proses */

.container-card2 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: -15rem;
}

.container-process {
    display: flex;
    flex-direction: column;
    margin: 10rem 0;
}

.process-judul {
    color: #ffffff;
    font-size: 3.8rem;
    font-family: Montserrat;
    font-weight: 800;
}

.process-text-head {
    font-size: 1.5rem;
    font-family: Jura;
    color: #ffffff;
    width: 45rem;
}

#process-sub {
    color: #1f1f1f;
    font-size: 4.3rem;
    font-family: Caveat;
    font-weight: 550;
}

.card,
.card2 {
    width: 28.5rem;
    padding: auto;
}

.process-number {
    font-family: "Jura";
    font-style: normal;
    font-weight: 600;
    font-size: 4rem;
    color: #f0ebe3;
    z-index: 2;
    position: relative;
    bottom: -2rem;
    left: -1.5rem;
}

.process-img {
    width: 26.6rem;
    height: 19.1rem;
    z-index: 1;
}

.process-subtema {
    font-family: "Jura";
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
}

.process-text {
    font-family: "Jura";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
}


/*  */


/* jenis-jenis */

.jenis-introvert {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
    font-family: Jura;
}

.jenis-judul-head {
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 3rem;
    /* line-height: 3.6; */
    padding-bottom: 3.3rem;
}

.jenis-card {
    position: relative;
    width: 13rem;
    height: 10rem;
    background-color: #395b64;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.3rem 1.25rem rgba(0, 0, 0, 0.1);
    transition: 0.4s ease-in-out;
    border: none;
    border-radius: 0.9rem 0 0.9rem 0;
}

.jenis-card:hover {
    height: 25rem;
}

.jenis-container-image {
    position: relative;
    width: 12.5rem;
    top: 0%;
    left: -1rem;
    z-index: 1;
    border-radius: 1rem;
    padding: 0 1.25rem;
    text-align: center;
}

.jenis-image {
    max-width: 100%;
}

.jenis-judul {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 800;
    text-align: center;
    cursor: default;
    padding-top: 0.625rem;
}

.jenis-content {
    position: relative;
    top: -5rem;
    left: 0.1rem;
    color: #ffffff;
    text-align: center;
    visibility: visible;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.jenis-deskripsi {
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0 0.25rem;
    letter-spacing: 0.02rem;
    cursor: default;
}

.jenis-card:hover .jenis-content {
    margin-top: 5.5rem;
    visibility: visible;
    opacity: 1;
    transition-delay: 0.1s;
}


/*  */

@media only screen and (max-width: 320px) {
    .jenis-introvert {
        flex-direction: column;
    }
}