body {
    margin: 0;
    padding: 0;
}

.slide {
    width: 100vw;
    height: 100vh;
}

.outer-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}

.one {
    background: red;
}

.two {
    background: #a3f3d3;
}

.three {
    background: #0bbaa0;
}

.four {
    background: green;
}

.five {
    background: #dbd80e;
}

.six {
    background: #0f0cd4;
}

.seven {
    background: #df00df;
}