
footer {
    align-items: center;
    padding: 2rem 8rem;
    background-color: var(--cream);
}

footer .footer-content {
    flex: 3;
    justify-content: space-between;
}

footer #footer-copyright {
    flex: 1;
    text-align: right;
}

footer .logo {
    align-items: center;
}

footer .logo h3 {
    margin-left: 0.5rem;
}

footer .follow-us {
    align-items: center;
}

footer .follow-us p {
    margin-right: 1rem;
}

footer .follow-us a {
    margin: 0 0.5rem;
}

footer .follow-us a i {
    font-size: 1.35rem;
}